name: Build Debug APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v3
      
      - name: Build Basic Debug
        run: ./gradlew assembleBasicDebug
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: breezy-weather-debug
          path: app/build/outputs/apk/basic/debug/*.apk